<p id="notice"><%= notice %></p>

<p>
  <strong>번호: </strong>
  <%= @book.id %>
</p>

<p>
  <strong>태그: </strong>
  <%= @book.tag_list %>
</p>

<p>
  <strong>상태: </strong>
  	<% if @book.available? %>
      데이트 가능
    <% else %> 
		<% current_meeting = @book.current_meeting %>
      데이트 중 with <%= current_meeting.user.name %>
        <% if current_user.id == 1 %>
          (<%= current_meeting.user.phone_number %>)
        <% end %>
		<p>
  		<strong>데이트 시작일: </strong>
  		<%= current_meeting.start_date %>
		</p>
		<p>
  		<strong>데이트 마감일: </strong>
  		<%= current_meeting.start_date + 21.days %>
		</p>
    <% end %>
</p>

	<% if @book.available? && current_user.current_meeting.nil? %>
		<%= simple_form_for @meeting do |f| %>
			<%= f.hidden_field :user_id %>
			<%= f.hidden_field :book_id %>
			<%= f.submit "데이트 시작하기", class: "btn btn-default" %>
		<% end %>
	<% end %>

<br>

<% if current_user.id == 1 or current_user.id == @book.user_id %>
  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-default" %> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %> |
<% end %>

  <%= link_to 'Back', books_path, class: "btn btn-default" %>
