<!DOCTYPE html>
<html>
<head>
  <title>Bdb2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "BDB", root_path, class: "navbar-brand" %>
  	</div>
 	
		<ul class="nav navbar-nav navbar-right">
  		<% if user_signed_in? %>
        <li><%= link_to "My page", current_user, class: "navbar-right" %></li>
  			<li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-right" %></li>
  		<% else %>
  			<li><%= link_to "Log In", new_user_session_path, class: "navbar-right" %></li>
  		<% end %>
  	</ul>
  </div>
</nav>

<div class="container">
	<%= yield %>
</div>


</body>
</html>
